build/
Debug/
Release/
x64/
.vs/
*.vcxproj.user
node_modules/
xiguchat.pro.user
config.ini
config.json
start.bat

ui_*.h
client/xiguchat/xiguchat.qtvscr
client/xiguchat/xiguchat_resource.rc
client/xiguchat/resource.h
client/xiguchat/xiguchat.sln
client/xiguchat/xiguchat.vcxproj
client/xiguchat/xiguchat.vcxproj.filters